[run]
source = apployer/

[report]
exclude_lines = def __repr__
# TODO set 100
fail_under = 90

# we won't work on those files and they will be eventually obsolete
omit =
        apployer/fetcher/jumpbox_utilities.py
